{% load staticfiles %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/font-awesome.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/menu-bar.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/projects.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/button-rect.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/button-icon.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/button-round.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/containers.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/text.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/input.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/lists.css' %}" />

    <script type="text/javascript" src="{% static 'presenter/js/cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'presenter/js/layout.js' %}"></script>
</head>


<body style="margin: 0px" bgcolor="#F0F0F0">
    <div class="menu_bar_container">
        <div class="menu_item_container">
            <menu>
                {% for menu_item in menu %}
                <li class="menu_item"><a href="{{menu_item.link}}" class="menu_item_link">{{menu_item.name}}</a></li>
                {% endfor %}
            </menu>
        </div>
    </div>

    {% block data_body %}{% endblock %}

    <footer>
        <div>
            <div class="credits"><i class="fa fa-camera-retro fa-1x"></i> fa-camera-retro</div>
            <div class="credits">BlueSteel, created by <a class="author_name" href="https://twitter.com/LlorensMarti">@LlorensMarti</a>, 2014-15</div>
        </div>
    </footer>
</body>
