{% load staticfiles %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/menu-bar.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/projects.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/button-rect.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/button-icon.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/button-round.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/containers.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/cards.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/grid.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/text.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/input.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/lists.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/select.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/footer.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/progress.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/font-awesome.css' %}" />

    <script type="text/javascript" src="{% static 'presenter/js/cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'presenter/js/post.js' %}"></script>
    <script type="text/javascript" src="{% static 'presenter/js/layout.js' %}"></script>
    <script type="text/javascript" src="{% static 'presenter/js/branches.js' %}"></script>
    <script type="text/javascript" src="{% static 'presenter/js/benchmark.js' %}"></script>
    <script type="text/javascript" src="{% static 'presenter/js/charts.js' %}"></script>
    <script type="text/javascript" src="{% static 'presenter/js/worker.js' %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
</head>


<body class="wall">
    <div class="menu_bar_container">
        <div class="menu_item_container">
            <menu class="no_margin no_padding">
                {% for menu_item in menu %}
                    <li class="menu_item"><a href="{{menu_item.link}}" class="menu_item_link"><i class="{{menu_item.icon}}"></i>{{menu_item.name}}</a></li>
                {% endfor %}
            </menu>
        </div>
    </div>
    {% if controls %}
        <div class="control_bar_container">
            <div class="menu_item_container">
                <ul class="horizontal_list no_margin no_padding">
                    {% for ctr_item in controls %}
                        <li class="control_item">
                            <a  onclick="{{ctr_item.onclick}}"
                                class="control_item_link"
                            ><i class="{{ctr_item.icon}}"></i>{{ctr_item.name}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% if pagination and pagination.pages and pagination.pages|length > 1 %}
    <div class="pagination_bar_container">
        <div class="menu_item_container">
            <ul class="horizontal_list no_margin no_padding">
                <li class="page_item">
                    <a class="page_item_link" href="{{pagination.prev}}">prev</a>
                </li>
                {% for page in pagination.pages %}
                    <li class="page_item">
                        <a class="page_item_link  {{page.is_current|yesno:'page_item_link_selected,'}}" href="{{page.url}}">{{page.index}}</a>
                    </li>
                {% endfor %}
                <li class="page_item">
                    <a class="page_item_link" href="{{pagination.next}}">next</a>
                </li>
            </ul>
        </div>
    </div>
    {% endif %}

    {% block data_body %}{% endblock %}

    <footer>
        <div class="footer_container">
            <div class="footer_item_container">
                <div class="footer_item">BlueSteel, created by <a class="footer_item_link" href="https://twitter.com/LlorensMarti">@LlorensMarti</a> at IMVU, 2014-16</div>
            </div>
        </div>
    </footer>
</body>
