{% load staticfiles %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/menu-bar.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/projects.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/button-rect.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/button-icon.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/button-round.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/containers.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/cards.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/text.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/input.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/lists.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/select.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'presenter/css/footer.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/font-awesome.css' %}" />

    <script type="text/javascript" src="{% static 'presenter/js/cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'presenter/js/layout.js' %}"></script>
    <script type="text/javascript" src="{% static 'presenter/js/branches.js' %}"></script>
</head>


<body style="margin: 0px" bgcolor="#F0F0F0">
    <div class="menu_bar_container">
        <div class="menu_item_container">
            <menu>
                {% for menu_item in menu %}
                    <li class="menu_item"><a href="{{menu_item.link}}" class="menu_item_link"><i class="{{menu_item.icon}}"></i>{{menu_item.name}}</a></li>
                {% endfor %}
            </menu>
        </div>
    </div>

    {% block data_body %}{% endblock %}

    <footer>
        <div class="footer_container">
            <div class="footer_item_container">
                <div class="footer_item">BlueSteel, created by <a class="footer_item_link" href="https://twitter.com/LlorensMarti">@LlorensMarti</a> at IMVU, 2014-15</div>
            </div>
        </div>
    </footer>
</body>
