{% extends "presenter/base.html" %}

{% load staticfiles %}

{% block data_body %}
<div class="container_med container_height">
    <div class="upper_card white_card card_padding_small">
        <div class="normal centered">{{confirm.title}}</div>
    </div>
    <div class="lower_card white_card card_padding_large">
        <div class="normal indent_1">{{confirm.text}}</div>
        <ul class="no_dots no_indent vertical_margin horizontal_list">
                <li class="horizontal">
                    <button     class="btn_rect primary"
                                type='button'
                                onclick="window.location='{{confirm.url.cancel}}';"
                    >Cancel</button>
                </li>
                <li class="horizontal">
                    <button     class="btn_rect danger"
                                type='button'
                                onclick="executeAndRedirect('{{confirm.url.accept}}', '');"
                    >Accept</button>
                </li>
            </ul>
    </div>
</div>
{% endblock %}
