{% extends "presenter/base.html" %}

{% load staticfiles %}

{% block data_body %}
<div class="container_med">
    <div class="upper_card white_card">
        <div class="title">LAYOUT</div>
        <form   action="{{layout.save_url}}"
                method="POST"
                name="layoutForm"
                id="layout_form"
        >
            <ul class="no_dots">
                <li>
                    <div class="list_label">NAME</div>
                </li>
                <li>
                    <div class="container_input">
                        <input class="command_input" type="text" name="layout_name" value="{{layout.name}}" maxlength="50"></input>
                    </div>
                </li>
            </ul>
            <ul class="no_dots">
                <li>
                    <div class="list_label">STATUS</div>
                </li>
                <li>
                    <select     class="selection"
                                name="project_selected"
                    >
                        <option value="0">ACTIVE</option>
                        <option value="1">INACTIVE</option>
                    </select>
                </li>
            </ul>
            <ul class="no_dots">
                <li>
                    <div class="list_label">COLLECT COMMITS PATH</div>
                </li>
                <li>
                    <div class="container_input">
                        <select     class="selection"
                                    name="project_selected"
                        >
                            {% for project in layout.projects %}
                                <option value="{{forloop.counter0}}">{{project.name}}</option>
                            {% endfor %}
                        </select>
                        <input class="path_input" type="text" name="layout_collect_commits_path" value="{{layout.collect_commits_path}}" maxlength="255"></input>
                    </div>
                </li>
            </ul>
            <ul class="no_dots no_indent vertical_margin horizontal_list">
                <li class="horizontal">
                    <button     class="btn_rect primary"
                                type='button'
                                onclick="saveLayout('layout_form');"
                    >Save</button>
                </li>
                <li class="horizontal">
                    <button class="btn_rect danger" type='button'>Delete</button>
                </li>
            </ul>
        </form>
    </div>
    {% for project in layout.projects %}
        <div class="middle_card white_card">
            <div class="title">PROJECT</div>
            <form   action="{{project.save_url}}"
                    method="POST"
                    name="projectForm"
                    id="project_form_{{forloop.counter0}}"
            >
                <ul class="no_dots vertical_margin">
                    <li>
                        <div class="list_label">NAME</div>
                    </li>
                    <li>
                        <div class="container_input">
                            <input  class="command_input"
                                    type="text"
                                    name="project_name"
                                    value="{{project.name}}"
                                    maxlength="50"
                            ></input>
                        </div>
                    </li>
                </ul>
                {% for command_set in project.command_group.command_sets %}
                    <ul     id="command_list_{{forloop.parentloop.counter0}}_{{forloop.counter0}}"
                            class="no_dots vertical_margin"
                    >
                        <li>
                            <div class="list_label">{{command_set.name}}</div>
                        </li>
                        {% for command in command_set.commands %}
                        <li     class="no_text"
                                id="command_{{command_set.name}}_{{forloop.counter0}}">
                            <div class="container_input">
                                <input  class="command_input"
                                        type="text"
                                        name="command_{{command_set.name}}_{{forloop.counter0}}"
                                        value="{{command.command}}"
                                        maxlength="255"
                                ></input>
                            </div>
                            <button     class="btn_icon icon_gray"
                                        type='button'
                                        onclick="removeListElement('command_{{command_set.name}}_{{forloop.counter0}}');"
                            >
                                <i class="fa fa-times-circle fa-2x"></i>
                            </button>
                        </li>
                        {% endfor %}
                    </ul>
                    <ul class="no_dots no_indent vertical_margin horizontal_list">
                        <li class="horizontal">
                            <!-- <button class="btn_icon icon_gray"><i class="fa fa-plus-circle fa-2x"></i></button> -->
                            <button     class="btn_round light"
                                        type='button'
                                        onclick="addListElement(this, '{{forloop.counter0}}', 'command_list_{{forloop.parentloop.counter0}}_{{forloop.counter0}}', 'command_{{command_set.name}}_');"
                            >Add Command</button>
                        </li>
                    </ul>
                {% endfor %}
            </form>
            <ul class="no_dots no_indent vertical_margin horizontal_list">
                <li class="horizontal">
                    <button     class="btn_rect primary"
                                onclick="saveProject('project_form_{{forloop.counter0}}');"
                    >Save</button>
                </li>
                <li class="horizontal">
                    <button     class="btn_rect danger"
                                onclick="deleteProject('{{project.delete_url}}');"
                    >Delete</button>
                </li>
            </ul>
        </div>
    {% endfor %}
    <div class="lower_card white_card">
        <ul class="no_dots no_indent vertical_margin horizontal_list">
            <li class="horizontal">
                <button     class="btn_round light"
                            onclick="addProjectToLayout('{{layout.add_project_url}}');"
                >Add Project</button>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
