{% extends "presenter/base.html" %}

{% load staticfiles %}

{% block data_body %}
<div class="container_small container_height">
    <ul class="no_dots no_indent">
        {% for layout in layout_list %}
        <li>
            <div class="upper_card white_card card_padding_small">
                <div class="title centered">{{layout.name}}</div>
            </div>
            <div class="lower_card white_card card_padding_large">
                <div class="list_label indent_1">PROJECTS</div>
                {% for project in layout.projects %}
                    <div class="normal indent_2">{{project.name}}</div>
                {% endfor %}
                <ul class="no_dots no_indent vertical_margin horizontal_list">
                    <li class="horizontal">
                        <button     class="btn_round light"
                                    type='button'
                                    onclick="window.location='{{layout.url.edit}}'"
                        >Edit Layout</button>
                    </li>
                </ul>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
