{% extends "presenter/base.html" %}

{% load staticfiles %}

{% block data_body %}
<div class="container_small">
    <ul class="project_list">
        <div class="round_white_container">
            <ul class="horizontal_list">
                <li class="horizontal">
                    <button class="btn_rect primary"
                            onclick="create_new_layout(this, '{{create_layout.url}}');"
                    >
                        Add project
                    </button>
                </li>
            </ul>
        </div>
        {% for layout in layout_list %}
        <li>
            <div class="round_white_container">
                <div>{{layout.name}}</div>
                <ul>
                {% for project in layout.projects %}
                    <li>{{project.name}}</li>
                {% endfor %}
                </ul>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}