{% extends "presenter/base.html" %}

{% load staticfiles %}

{% block data_body %}
<ul class="no_dots no_indent horizontal_list">
        <li class="horizontal">
            <div class="container_med container_height">
                <div class="upper_card white_card card_padding_small card_medium">
                    <div class="grid grid-pad-2">
                        <div class="grid-col-1-1 grid-cell-pad-2-10">
                            <div class="title centered">Branch Data - {{branch.name}}</div>
                        </div>
                    </div>
                </div>
                <div class="lower_card white_card card_padding_large card_medium">
                    <div class="grid grid-pad-2">
                        <div class="grid-col-1-1 grid-cell-pad-2-10">
                            <div class="list_label">SINGLE VIEW</div>
                        </div>
                        <div class="grid-col-1-1 grid-cell-pad-2-10 grid-cell-centered">
                            <button     class="btn_round light"
                                        type='button'
                                        onclick="window.location='{{branch.url.single}}'"
                            >See single branch view</button>
                        </div>
                    </div>
                    <br/>
                    <div class="grid grid-pad-2">
                        {% if branch.links|length > 0 %}
                            <div class="grid-col-1-1 grid-cell-pad-2-10">
                                <div class="list_label">STACKED BENCHMARKS</div>
                            </div>
                            {% for definition in branch.links %}
                                <div class="grid-col-1-1 grid-cell-pad-2-10">
                                    <div class="normal">Benchmark Definition: {{definition.name}} ({{definition.id}})</div>
                                </div>
                                {% for worker in definition.workers %}
                                    <div class="grid-col-1-1 grid-cell-pad-2-10">
                                        <button     class="btn_round light"
                                                    type='button'
                                                    onclick="window.location='{{worker.stacked_benchmarks}}'"
                                        >See benchmarks from: {{worker.name}}</button>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <br/>
                    <div class="grid grid-pad-2">
                        <div class="grid-col-1-1 grid-cell-pad-2-10">
                            <div class="list_label">BRANCH ORDER</div>
                        </div>
                        <div class="grid-col-1-1 grid-cell-pad-2-10">
                            <div class="normal">Update '{{branch.name}}' branch order value to be located at:</div>
                        </div>
                        <div class="grid-col-1-1 grid-cell-pad-2-10">
                            <div class="container_input">
                                <select     class="selection individual"
                                            name="merge_target_select"
                                            onchange="executeAndReload(this.options[this.selectedIndex].value, '');"
                                >
                                    {% for sel in branch.update_order_selection %}
                                        <option value="{{sel.url.update}}" {{sel.current|yesno:"selected,"}} >Position {{sel.order}} - {{sel.current|yesno:"(current) ,"}}{{sel.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
</ul>
{% endblock %}
