{% extends "presenter/base.html" %}

{% load staticfiles %}

{% block data_body %}
<ul class="no_dots no_indent horizontal_list">
    {% for branch in branches %}
        <li class="horizontal">
            <div class="container_small container_height">
                <ul class="no_dots no_indent">
                    <li>
                        <div class="upper_card white_card card_padding_small">
                            <div><a class="title_link" href="{{branch.url.single}}">{{branch.name}}</a></div>
                        </div>
                    </li>
                    {% for commit in branch.commits %}
                    <li>
                        <div class="middle_card white_card card_padding_small">
                            <div class="list_label indent_1">HASH</div>
                            <div class="command">{{commit.short_hash}}</div>
                            <div class="list_label indent_1">AUTHOR</div>
                            <div class="normal indent_2">{{commit.author.name}}</div>
                        </div>
                    </li>
                    {% endfor %}
                    <li>
                        <div class="lower_card white_card card_padding_large">
                            <div class="list_label indent_1">FORK COMMIT</div>
                            <div class="command indent_2">{{branch.merge_target.fork_point.short_hash}}</div>
                            <div class="list_label indent_1">MERGE TARGET</div>
                            <div class="container_input">
                                <select     class="selection individual"
                                            name="merge_target_select"
                                            onchange="change_branch_merge_target(this, '{{url.change_merge_target}}', '{{branch.name}}');"
                                >
                                    {% for info in branch.branch_info %}
                                        <option value="{{info.name}}" {{info.current_target|yesno:"selected,"}} >{{info.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}
