{% extends "presenter/base.html" %}

{% load staticfiles %}

{% block data_body %}
<ul class="no_dots no_indent horizontal_list">
    {% for branch in branches %}
        <li class="horizontal">
            <div class="container_small container_height">
                <div class="upper_card white_card card_padding_small card_thin">
                    <div class="grid grid-pad-2">
                        <div class="grid-col-1-1 grid-cell-pad-2-10">
                            <div class="title centered">Branch - {{branch.name}}</div>
                        </div>
                    </div>
                </div>
                <div class="middle_card white_card card_padding_small card_thin">
                    <div class="grid grid-pad-2">
                        <div class="grid-col-1-1 grid-cell-pad-2-10 grid-cell-centered">
                            <button     class="btn_round light"
                                        type='button'
                                        onclick="window.location='{{branch.url.links}}'"
                            >Branch data</button>
                        </div>
                    </div>
                </div>
            {% for commit in branch.commits %}
                <div    class="middle_card white_card_hoverable card_padding_small card_thin"
                        onclick="window.location='{{commit.url.executions}}'"
                >

                    <div class="grid grid-pad-2">
                        <div class="grid-col-1-1 grid-cell-pad-2-10">
                            <div class="command">{{commit.short_hash}}</div>
                        </div>
                        <div class="grid-col-1-1 grid-cell-pad-2-10">
                            <div class="normal indent_2">{{commit.author.name}}</div>
                        </div>
                        <div class="grid-col-1-1 grid-cell-pad-2-10">
                            <div class="progress_bar">
                                <div class="progress_value progress_normal" style="width: {{commit.benchmark_completed}}%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
                <div class="lower_card white_card card_padding_large card_thin">
                    <div class="grid grid-pad-2">
                        <div class="grid-col-1-1 grid-cell-pad-2-10">
                            <div class="list_label indent_1">FORK COMMIT</div>
                        </div>
                        <div class="grid-col-1-1 grid-cell-pad-2-10">
                            <div class="command indent_2">{{branch.merge_target.fork_point.short_hash}}</div>
                        </div>
                    </div>

                    <div class="grid grid-pad-2">
                        <div class="grid-col-1-1 grid-cell-pad-2-10">
                            <div class="list_label indent_1">MERGE TARGET</div>
                        </div>
                        <div class="grid-col-1-1 grid-cell-pad-2-10">
                            <div class="container_input">
                                <select     class="selection individual"
                                            name="merge_target_select"
                                            onchange="change_branch_merge_target(this, '{{url.change_merge_target}}', '{{branch.name}}');"
                                >
                                    {% for info in branch.branch_info %}
                                        <option value="{{info.name}}" {{info.current_target|yesno:"selected,"}} >{{info.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}
