{% extends "presenter/base.html" %}

{% load staticfiles %}

{% block data_body %}
<div class="container_small">
    <ul class="no_dots no_indent">
        <div class="card white_card">
            <ul class="no_dots no_indent horizontal_list">
                <li class="horizontal">
                    <button class="btn_rect primary"
                            onclick="window.location='{{download_worker.url}}';"
                    >
                        Download Worker
                    </button>
                </li>
            </ul>
        </div>
    </ul>
</div>
{% endblock %}
