{% extends "presenter/base.html" %}

{% load staticfiles %}

{% block data_body %}
<div class="container_large container_height">
    <ul class="no_dots no_indent horizontal_list">
        {% for worker in workers %}
        <li class="horizontal">
            <div class="upper_card white_card card_padding_small card_small">
                <div><a class="title_link" href="{{worker.url.edit}}">{{worker.name}}</a></div>
            </div>
            <div class="lower_card white_card card_padding_large card_small">
                <ul class="no_dots no_indent">
                    <li>
                        <div class="list_label indent_1">OPERATIVE SYSTEM</div>
                        <div class="normal indent_2">{{worker.operative_system}}</div>
                    </li>
                    <br/>
                    <li>
                        <div class="list_label indent_1">DESCRIPTION</div>
                        <div class="normal indent_2">{{worker.description}}</div>
                    </li>
                    <br/>
                    <li>
                        <div class="list_label indent_1">COMMIT FEEDER</div>
                        {% if worker.git_feeder %}
                            <div class="normal indent_2">Yes, <a class="normal_link" href="{{worker.url.feed_report}}">see feed reports</a></div>
                        {% else %}
                            <div class="normal indent_2">No</div>
                        {% endif %}
                    </li>
                    <br/>
                    <li>
                        <div class="list_label indent_1">LAST ACTIVITY</div>
                        <div class="normal indent_2">
                            {% if worker.activity %}
                            <div class="normal inline color_correct"><i class="fa fa-check-circle"></i></div>
                            <div class="normal inline">{{worker.last_update.year}}-{{worker.last_update.month}}-{{worker.last_update.day}}, {{worker.last_update.hour}}:{{worker.last_update.minute}}:{{worker.last_update.second}}</div>
                            {% else %}
                            <div class="normal inline color_error"><i class="fa fa-exclamation-circle"></i></i></div>
                            <div class="normal inline color_error">{{worker.last_update.year}}-{{worker.last_update.month}}-{{worker.last_update.day}}, {{worker.last_update.hour}}:{{worker.last_update.minute}}:{{worker.last_update.second}}</div>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
