{% extends "presenter/base.html" %}

{% load staticfiles %}

{% block data_body %}
<div class="container_small">
    <ul class="no_dots no_indent">
        <div class="card white_card">
            <ul class="no_dots no_indent horizontal_list">
                <li class="horizontal">
                    <button class="btn_rect primary"
                            onclick="window.location='{{download_worker.url}}';"
                    >
                        Download Worker
                    </button>
                </li>
            </ul>
        </div>
    </ul>
</div>
<div class="container_large container_height">
    <ul class="no_dots no_indent horizontal_list">
        {% for worker in workers %}
        <li class="horizontal">
            <div class="upper_card white_card">
                <div class="title">{{worker.name}}</div>
            </div>
            <div class="lower_card white_card">
                <ul class="no_dots no_indent">
                    <li>
                        <div class="list_label indent_1">OPERATIVE SYSTEM</div>
                        <div class="normal indent_2">{{worker.operative_system}}</div>
                    </li>
                    <li>
                        <div class="list_label indent_1">DESCRIPTION</div>
                        <div class="normal indent_2">{{worker.description}}</div>
                    </li>
                    <li>
                        <div class="list_label indent_1">COMMIT FEEDER</div>
                        <div class="normal indent_2">{{worker.git_feeder|yesno:"Yes,No"}}</div>
                    </li>
                    <li>
                        <div class="list_label indent_1">STATUS</div>
                        <div class="normal indent_2">{{worker.last_update}}</div>
                    </li>
                </ul>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
