button.add_button
{
    font-size: 17px;
    line-height: 20px;
    font-family: arial, sans-serif;
    border-radius: 5px;
    border-style: none;
    background: steelblue;
    color: white;
}

button.add_button:hover
{
    background: #6B9BC3;
}

button.remove_command
{
    vertical-align: middle;
    line-height: 25px;
    border-style: none;
    background: transparent;
    color: lightgray;
    transition: color 0.3s;
    outline: none;
}

button.remove_command:hover {
    color: #969696;
    outline: none;
}