button.btn_rect
{
    min-width: 150px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 17px;
    line-height: 20px;
    font-family: arial, sans-serif;
    border-radius: 5px;
    border-style: none;
    outline: none;
}

button.btn_round
{
    min-width: 150px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 17px;
    line-height: 15px;
    font-family: arial, sans-serif;
    border-radius: 100px;
    border-style: none;
    outline: none;
}

button.primary
{
    background: linear-gradient(60deg, rgba(70, 130, 180, 1.0) 0%, rgba(90, 150, 200, 1.0) 100%);
    color: white;
}

button.primary:hover
{
    background: linear-gradient(60deg, rgba(100, 160, 210, 1.0) 0%, rgba(120, 180, 230, 1.0) 100%);
    cursor: pointer;
}

button.danger
{
    background: linear-gradient(60deg, rgba(139, 0, 0, 1.0) 0%, rgba(169, 0, 0, 1.0) 100%);
    color: white;
}

button.danger:hover
{
    background: linear-gradient(60deg, rgba(189, 0, 0, 1.0) 0%, rgba(219, 0, 0, 1.0) 100%);
    cursor: pointer;
}

button.light
{
    background: lightgray;
    color: white;
}

button.light:hover
{
    background: #969696;
    cursor: pointer;
}
