button.btn_round
{
    min-width: 150px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 1px;
    font-size: 15px;
    line-height: 10px;
    font-family: arial, sans-serif;
    border-radius: 100px;
    border-style: none;
    outline: none;
}

button.light
{
    background: lightgray;
    color: white;
}

button.light:hover
{
    cursor: pointer;
    background: #969696;
}
