div.card
{
    min-height: 25px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

div.upper_card
{
    min-height: 25px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10px;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
}

div.lower_card
{
    min-height: 25px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 4px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

div.middle_card
{
    min-height: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
}

div.white_card
{
    background: white;
}

div.card_padding_large
{
    padding: 30px;
}

div.card_padding_small
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
