div.card
{
    min-height: 25px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

div.upper_card
{
    min-height: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 10px;
    margin-bottom: 1px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div.lower_card
{
    min-height: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 1px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div.middle_card
{
    min-height: 25px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div.card_thin
{
    width: 250px;
}

div.card_small
{
    width: 294px;
    margin-left: 2px;
    margin-right: 2px;
}

div.card_medium
{
    width: 594px;
    margin-left: 2px;
    margin-right: 2px;
}

div.card_big
{
    width: 894px;
    margin-left: 2px;
    margin-right: 2px;
}

div.white_card
{
    background: white;
}

div.edit_card
{
    background: repeating-linear-gradient(
      45deg,
      #FAFAFA,
      #FAFAFA 25px,
      #FEFEFE 25px,
      #FEFEFE 50px
    );
}

div.white_card_hoverable
{
    background: white;
}

div.white_card_hoverable:hover
{
    background: #F8F8F8;
    cursor: pointer;
}

div.card_padding_large
{
    padding: 30px;
}

div.card_padding_small
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
