div.container_small
{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

div.container_med
{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

div.container_large
{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

div.container_huge
{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

div.container_ext
{
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

div.container_height
{
    min-height: 900px;
}

div.container_input
{
    width: 100%;
    display: inline-block;
    background: white;
    color: transparent;
    border: solid 1px lightgray;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    transition: border 0.3s;
}

div.container_input:hover
{
    border: solid 1px #969696;
}

