div.container_small
{
    width: 300px;
    min-height: 900px;
    margin-left: auto;
    margin-right: auto;
}

div.container_med
{
    width: 600px;
    min-height: 900px;
    margin-left: auto;
    margin-right: auto;
}

div.container_large
{
    width: 900px;
    min-height: 900px;
    margin-left: auto;
    margin-right: auto;
}