div.container_small
{
    width: 300px;
    min-height: 900px;
    margin-left: auto;
    margin-right: auto;
}

div.container_med
{
    width: 600px;
    min-height: 900px;
    margin-left: auto;
    margin-right: auto;
}

div.container_large
{
    width: 900px;
    min-height: 900px;
    margin-left: auto;
    margin-right: auto;
}

div.round_white_container
{
    min-height: 50px;
    border-radius: 5px;
    background: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}