[class*='grid'], [class*='grid']:after, [class*='grid']:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div.grid {
    background: transparent;
}

div.grid:after {
    content: "";
    display: table;
    clear: both;
}

div.grid-pad-2 {
    padding: 2px 0px 2px 0px;
}

div.grid-pad-5 {
    padding: 5px 0px 5px 0px;
}

div.grid-pad-10 {
    padding: 10px 0px 10px 0px;
}

div.grid-pad-20 {
    padding: 20px 0px 20px 0px;
}

[class*='grid-col-'] {
    float: left;
    padding-right: 0px;
}


div.grid-col-1-1 {
    width: 100%;
}

div.grid-col-2-3 {
    width: 66.66%;
}

div.grid-col-1-3 {
    width: 33.33%;
}

div.grid-col-1-2 {
    width: 50%;
}

div.grid-col-1-4 {
    width: 25%;
}

div.grid-col-1-8 {
    width: 12.5%;
}

div.grid-col-2-8 {
    width: 25.0%;
}

div.grid-col-3-8 {
    width: 37.5%;
}

div.grid-col-4-8 {
    width: 50.0%;
}

div.grid-col-6-8 {
    width: 75.0%;
}

div.grid-col-7-8 {
    width: 87.5%;
}

div.grid-col-8-8 {
    width: 100.0%;
}

div.grid-col-1-16 {
    width: 6.25%;
}

div.grid-col-2-16 {
    width: 12.5%;
}

div.grid-col-3-16 {
    width: 18.75%;
}

div.grid-col-10-16 {
    width: 62.5%;
}

div.grid-col-12-16 {
    width: 75.0%;
}


div.grid-col-13-16 {
    width: 81.25%;
}

div.grid-col-15-16 {
    width: 93.75%;
}

div.grid-cell-pad-2-10 {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

div.grid-cell-pad-5-10 {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.grid-cell-pad-10-10 {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.grid-cell-centered {
    /*margin-left: auto;
    margin-right: auto;*/
    text-align: center;
}

