ul.no_dots
{
    list-style: none;
}

ul.no_indent
{
    margin: 0px;
    padding: 0px;
}

ul.vertical_margin
{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}

ul.horizontal_list
{
    text-align: center;
}

li.left
{
    display: inline;
    list-style-type: none;
    line-height: 30px;
    margin: 0px;
    padding-right: 20px;
    padding-left: 20px;
}

li.horizontal
{
    vertical-align: top;
    display: inline-block;
    list-style-type: none;
    line-height: 30px;
    margin: 0px;
    padding-right: 20px;
    padding-left: 20px;
}

li.no_text
{
    font-size: 0px;
    line-height: 30px;
}
