ul.no_dots
{
    list-style: none;
}

ul.no_indent
{
    margin: 0px;
    padding: 0px;
}

ul.horizontal_list
{
    text-align: center;
}

li.horizontal
{
    display: inline-block;
    list-style-type: none;
    margin: 0px;
    padding-right: 20px;
    padding-left: 20px;
}