menu.no_margin
{
    margin: 0px;
}

menu.no_padding
{
    padding: 0px;
}

div.menu_bar_container
{
    height: 45px;
    background: steelblue;
}

div.menu_item_container
{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

li.menu_item
{
    color: white;
    background: transparent;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 45px;
    text-align: vertical;
}

a.menu_item_link
{
    font-family: arial, sans-serif;
    color: white;
    text-decoration: none;
    line-height: 45px;
}

a.menu_item_link:hover
{
    color: #E0E0E0;
}

div.control_bar_container
{
    height: 45px;
    background: transparent;
    border: solid 1px lightgray;
}

li.control_item
{
    background: transparent;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 45px;
    text-align: vertical;
}

a.control_item_link
{
    font-family: arial, sans-serif;
    color: gray;
    text-decoration: none;
    line-height: 45px;
    cursor: pointer;
}

a.control_item_link:hover
{
    color: lightgray;
    cursor: pointer;
}

div.pagination_bar_container
{
    height: 45px;
    background: transparent;
    /*background: red;*/
}

li.page_item
{
    background: transparent;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    text-align: vertical;
}

a.page_item_link
{
    width: 25px;
    font-family: arial, sans-serif;
    color: lightgray;
    background: white;
    text-decoration: none;
    line-height: 45px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    border-radius: 3px;
    border-style: none;
}

a.page_item_link_selected
{
    color: white;
    background: steelblue;
}

a.page_item_link:hover
{
    color: white;
    background: lightsteelblue;
    cursor: pointer;
}
