div.progress_bar
{
    height: 3px;
    background-color: transparent;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 80px;
    border: 1px solid lightgray;
}

div.progress_value
{
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 80px;
}

div.progress_normal
{
    color: lightsteelblue;
    background-color: lightsteelblue;
}
