div.progress_bar
{
    height: 3px;
    background-color: transparent;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 80px;
    border: 1px solid lightsteelblue;
}

div.progress_value
{
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 80px;
}

div.progress_normal
{
    color: linear-gradient(60deg, rgba(120, 180, 230, 1.0) 0%, rgba(140, 200, 250, 1.0) 100%);
    background: linear-gradient(60deg, rgba(120, 180, 230, 1.0) 0%, rgba(140, 200, 250, 1.0) 100%);
}
