div.project_item_container
{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

ul.project_list
{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

li.project_item
{
    min-width: 200px;
    min-height: 100px;
    border-radius: 5px;
    color: lightgray;
    background: white;
    margin-top: 10px;
    margin-bottom: 10px;
}