div.title
{
    font-family: arial, sans-serif;
    color: gray;
    text-decoration: none;
    line-height: 30px;
    font-style: bold;
    -webkit-font-smoothing: antialiased;
}

div.list_label
{
    min-width: 200px;
    width: 90%;
    font-family: arial, sans-serif;
    color: gray;
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    font-style: bold;
    text-align: left;
    -webkit-font-smoothing: antialiased;
}

div.normal
{
    font-family: arial, sans-serif;
    color: lightgray;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    -webkit-font-smoothing: antialiased;
}

div.big_text
{
    font-size: 20px;
    line-height: 30px;
    -webkit-font-smoothing: antialiased;
}

div.centered
{
    text-align: center;
}

div.break_line
{
    white-space: pre-line;
}

div.command
{
    font-family: "Courier New", Courier, monospace;
    color: gray;
    text-decoration: none;
    line-height: 25px;
    font-style: bold;
    -webkit-font-smoothing: antialiased;
}

div.indent_1
{
    padding-left: 10px;
}

div.indent_2
{
    padding-left: 20px;
}

div.indent_3
{
    padding-left: 30px;
}

div.inline
{
    display: inline-block;
}

div.color_correct
{
    color: steelblue;
}

span.color_correct
{
    color: steelblue;
}

div.color_error
{
    color: darkred;
}

a.indent_1
{
    padding-left: 10px;
}

a.indent_2
{
    padding-left: 20px;
}

a.normal_link
{
    font-family: arial, sans-serif;
    font-style: bold;
    color: gray;
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
}

a.normal_link:hover
{
    color: steelblue;
}

a.title_link
{
    font-family: arial, sans-serif;
    color: gray;
    text-decoration: none;
    line-height: 30px;
    font-style: bold;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
}

a.title_link:hover
{
    color: steelblue;
}

textarea.default_textarea
{
    width: 100%;
    resize: vertical;
    outline: none;
    font-family: arial, sans-serif;
    color: gray;
    font-size: 15px;
    line-height: 20px;
    border-radius: 5px;
    border:1px solid lightgray;
    -webkit-font-smoothing: antialiased;

}
