div.title
{
    font-family: arial, sans-serif;
    color: gray;
    text-decoration: none;
    line-height: 30px;
    font-style: bold;
}

div.list_label
{
    min-width: 200px;
    width: 90%;
    padding-left: 10px;
    font-family: arial, sans-serif;
    color: lightgray;
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    font-style: bold;
    text-align: left;
}

div.normal
{
    padding-left: 20px;
    font-family: arial, sans-serif;
    color: gray;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
}

div.centered
{
    text-align: center;
}

div.command
{
    font-family: "Courier New", Courier, monospace;
    color: gray;
    text-decoration: none;
    line-height: 25px;
    font-style: bold;
}
